@import '../mixin';

#editor {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 100%;
  @include transition(width, $duration);

  svg {
    width: 22px;
    height: 24px;
    position: absolute;
    fill: #ddd;
    cursor: pointer;
    @include transition(transform, $duration);

    &:hover {
      fill: #333;
    }

    &:first-child {
      right: 0;
      top: 0;
    }

    &:nth-child(2) {
      right: 0;
      top: 45%;
    }

    &.slide-toolbar, &.slide-editor {
      @include transform(rotate(180deg));
    }
  }

  textarea {
    width: 100%;
    height: 100%;
    padding: 45px;
    border: none;
    outline: none;
    word-wrap: break-word;
    overflow: scroll;
  }
}