#previewer {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
  border-left: 1px solid #ddd;
  -webkit-transition: -webkit-left 600ms ease 0s;
  -moz-transition: -moz-left 600ms ease 0s;
  -ms-transition: -ms-left 600ms ease 0s;
  -o-transition: -o-left 600ms ease 0s;
  transition: left 600ms ease 0s; }
  #previewer article {
    width: 100%;
    height: 100%;
    padding: 45px;
    word-wrap: break-word;
    overflow: scroll; }
