div, article, textarea {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

#markdown-editor {
  width: 100%;
  height: 100%;
  position: relative; }
  #markdown-editor .col-2 {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 48px;
    -webkit-transition: -webkit-padding-top 600ms ease 0s;
    -moz-transition: -moz-padding-top 600ms ease 0s;
    -ms-transition: -ms-padding-top 600ms ease 0s;
    -o-transition: -o-padding-top 600ms ease 0s;
    transition: padding-top 600ms ease 0s; }
  #markdown-editor.slide-toolbar #toolbar {
    -webkit-transform: translateY(-48px);
    -moz-transform: translateY(-48px);
    -ms-transform: translateY(-48px);
    -o-transform: translateY(-48px);
    transform: translateY(-48px); }
  #markdown-editor.slide-toolbar .col-2 {
    padding-top: 0; }
  #markdown-editor.slide-editor #editor {
    width: 100%; }
  #markdown-editor.slide-editor #previewer {
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%); }

#toolbar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px 45px;
  border-bottom: 1px solid #ddd;
  z-index: 2;
  -webkit-transition: -webkit-transform 600ms ease 0s;
  -moz-transition: -moz-transform 600ms ease 0s;
  -ms-transition: -ms-transform 600ms ease 0s;
  -o-transition: -o-transform 600ms ease 0s;
  transition: transform 600ms ease 0s; }
  #toolbar .btn {
    position: relative;
    font-size: 13px;
    font-weight: bold;
    width: 30px;
    margin: 0 0 0 -1px;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: -moz-linear-gradient(#fcfcfc, #eee);
    background-image: -ms-linear-gradient(#fcfcfc, #eee);
    background-image: -o-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee); }
    #toolbar .btn svg {
      width: 16px;
      height: 16px;
      vertical-align: text-top;
      fill: #333; }
  #toolbar .btn-group {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px; }
    #toolbar .btn-group .btn {
      border-radius: 0; }
      #toolbar .btn-group .btn:hover {
        z-index: 3;
        border-color: #ccc;
        background-image: -webkit-linear-gradient(#eee, #ddd);
        background-image: -moz-linear-gradient(#eee, #ddd);
        background-image: -ms-linear-gradient(#eee, #ddd);
        background-image: -o-linear-gradient(#eee, #ddd);
        background-image: linear-gradient(#eee, #ddd); }
      #toolbar .btn-group .btn:focus {
        z-index: 4;
        outline: none;
        border-color: #51a7e8;
        box-shadow: 0 0 5px rgba(81, 167, 232, 0.5); }
      #toolbar .btn-group .btn:active {
        z-index: 3;
        background-color: #dcdcdc;
        background-image: none;
        border-color: #b5b5b5;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15); }
    #toolbar .btn-group .btn:last-child {
      border-radius: 0 3px 3px 0; }
    #toolbar .btn-group .btn:first-child {
      border-radius: 3px 0 0 3px; }

#editor {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 100%;
  -webkit-transition: -webkit-width 600ms ease 0s;
  -moz-transition: -moz-width 600ms ease 0s;
  -ms-transition: -ms-width 600ms ease 0s;
  -o-transition: -o-width 600ms ease 0s;
  transition: width 600ms ease 0s; }
  #editor svg {
    width: 22px;
    height: 24px;
    position: absolute;
    fill: #ddd;
    cursor: pointer;
    -webkit-transition: -webkit-transform 600ms ease 0s;
    -moz-transition: -moz-transform 600ms ease 0s;
    -ms-transition: -ms-transform 600ms ease 0s;
    -o-transition: -o-transform 600ms ease 0s;
    transition: transform 600ms ease 0s; }
    #editor svg:hover {
      fill: #333; }
    #editor svg:first-child {
      right: 0;
      top: 0; }
    #editor svg:nth-child(2) {
      right: 0;
      top: 45%; }
    #editor svg.slide-toolbar, #editor svg.slide-editor {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
  #editor textarea {
    width: 100%;
    height: 100%;
    padding: 45px;
    border: none;
    outline: none;
    word-wrap: break-word;
    overflow: scroll; }

#previewer {
  display: inline-block;
  position: absolute;
  width: 50%;
  height: 100%;
  border-left: 1px solid #ddd;
  -webkit-transition: -webkit-transform 600ms ease 0s;
  -moz-transition: -moz-transform 600ms ease 0s;
  -ms-transition: -ms-transform 600ms ease 0s;
  -o-transition: -o-transform 600ms ease 0s;
  transition: transform 600ms ease 0s; }
  #previewer article {
    width: 100%;
    height: 100%;
    padding: 45px;
    word-wrap: break-word;
    overflow: scroll; }
