@import '../mixin';

#previewer {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
  border-left: 1px solid #ddd;
  @include transition(left, $duration);

  article {
    width: 100%;
    height: 100%;
    padding: 45px;
    word-wrap: break-word;
    overflow: scroll;
  }
}