@import './mixin';

div, article, textarea {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#markdown-editor {
  width: 100%;
  height: 100%;
  position: relative;

  .col-2 {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 48px;
    @include transition(padding-top, $duration);
  }

  &.slide-toolbar {
    #toolbar {
      @include transform(translateY(-48px));
    }
    .col-2 {
      padding-top: 0;
    }
  }

  &.slide-editor {
    #editor {
      width: 100%;
    }
    #previewer {
      // position: absolute;
      @include transform(translateX(50%));
    }
  }
}

@import './toolbar/toolbar';
@import './editor/editor';
@import './previewer/previewer';