$duration: 600ms;

@mixin user-select($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  -o-user-select: $value;
  user-select: $value;
}

@mixin linear-gradient($color-start, $color-end) {
  background-image: -webkit-linear-gradient($color-start, $color-end);
  background-image: -moz-linear-gradient($color-start, $color-end);
  background-image: -ms-linear-gradient($color-start, $color-end);
  background-image: -o-linear-gradient($color-start, $color-end);
  background-image: linear-gradient($color-start, $color-end);
}

@mixin transform($function) {
  -webkit-transform: $function;
  -moz-transform: $function;
  -ms-transform: $function;
  -o-transform: $function;
  transform: $function;
}

@mixin transition($property, $duration: 0s, $timing-function: ease, $delay: 0s) {
  -webkit-transition: -webkit- + $property $duration $timing-function $delay;
  -moz-transition: -moz- + $property $duration $timing-function $delay;
  -ms-transition: -ms- + $property $duration $timing-function $delay;
  -o-transition: -o- + $property $duration $timing-function $delay;
  transition: $property $duration $timing-function $delay;
}
